.game-canvas {
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: relative;
}

.game-canvas canvas {
  display: block;
}

.canvas-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-secondary);
  font-size: 14px;
}
